<nav>
  <ul class="flex flex-col overflow-hidden">
    {% for item in navigation %}
    {{ render_template("page/navigation_item.html", item=item) }}
    {% endfor %}
  </ul>

  <hr class="mt-5 mx-5">

  <ul class="flex flex-col overflow-hidden mt-5">
    <li><a href="{{ url_for('index') }}">Overview</a></li>

    <li><a href="{{ url_for('syntax') }}">Syntax</a></li>

    <li><a href="{{ url_for('functions') }}">Functions</a></li>
  </ul>

  <hr class="mt-5 mx-5">

  <ul class="flex flex-col overflow-hidden mt-5">
    <li>
      <a href="https://docs.python.org/3/reference/index.html" target="_blank">Language Reference</a>
    </li>

    <li>
      <a href="https://docs.python.org/3/library/" target="_blank">Standard Library</a>
    </li>

    <li>
      <a href="https://pypi.org/" target="_blank">Python Package Index</a>
    </li>

    <li>
      <a href="https://peps.python.org/pep-0008/" target="_blank">PEP8 - Style Guide</a>
    </li>
  </ul>
</nav>
